* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #666;
  font-size: 13px;

}

h1,
h2,
h3,
h4,
h5,
h6,
label, .tl-label {
  color: #34495e;
  font-weight: bold;
}

a {
  color: #4e969c;
  text-decoration: none;
}
th {
  background: #efefef !important;
}

section {
  padding: 100px 0;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  width: 50%;
}

.pure-button-primary {
  background: #56B1B7 !important;
}

.home-menu {
  padding: 0.5em 2.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu {
  background: #333;
}

.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: #efefef;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: #efefef;
}

.home-menu a {
  color: #efefef;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: #333;
  border: none;
  color: #efefef;
}

.pure-menu-children {
  background: #333;
  color: #efefef;
  left: -50px !important;
}

.splash-container.tl-index {
  background: #56B1B7;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;

  .splash {
    width: 80%;
    height: 30%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;

    h1 {
      font-weight: bold;
      color: white;
      padding: 1em 1.6em;
      line-height: 1em;
    }
  }
}

.splash-container.tl-main {
  background: #56B1B7;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  position: fixed !important;

  .splash {
    width: 80%;
    height: 10%;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;

    h1 {
      font-size: 2em;
      font-weight: bold;
      color: white;
      line-height: 1em;
    }
  }
}

.tl-subheading {
  color: #efefef;
}

.content-wrapper.tl-index {
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;

}

.content-wrapper.tl-main {
  position: absolute;
  top: 23%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;

}

.content {
  padding: 1em 1em 3em;
  width: 70%;
  margin: 0 auto;
  min-height: 400px;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.content-head-ribbon {
  color: white;
}

.content-subhead {
  color: #fff;
}

.content-subhead i {
  margin-right: 7px;
}

.ribbon {
  background: #7D7D7D;
  color: #fff;
}

.footer {
  width: 100%;
  color: #999;
}

@media (min-width: 48em) {

  body {
    font-size: 16px;
  }

  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }

  .splash {
    width: 50%;
    height: 50%;

    h1 {
      font-size: 3em;
    }
  }

  .l-box-lrg {
    border: none;
  }

}

@media (min-width: 70em) {
  .splash h1 {
    font-size: 4em;
  }
}

.custom-wrapper {
  background-color: #ffd390;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.1em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 14em;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.custom-toggle .bar {
  background-color: #777;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 40.999em) {

  table {
    width: 100%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }

  .custom-menu-3 {
    text-align: left;
  }

  .custom-toggle {
    display: block;
  }

}

.tl-stretch {
  width: 100%;
}

.tl-text-right {
  text-align: right;
}

.tl-text-left {
  text-align: left
}

.tl-text-center {
  text-align: center;
}

.pure-g > div[class*="pure-u-"] {
  padding: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tl-local-toolbar-wrap {
  padding-bottom: 1em;
}

textarea.tl-content {
  height: 500px;
}

.tl-pagination {
  display: inline-block;
}

.tl-pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.tl-pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.tl-pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}


.tl-dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tl-dropdown {
  position: relative;
  display: inline-block;
}

.tl-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.tl-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tl-dropdown-content a:hover {background-color: #f1f1f1}

.tl-dropdown:hover .tl-dropdown-content {
  display: block;
}

.tl-dropdown:hover .tl-dropbtn {
  background-color: #ccc;
}